.appname{
    justify-content: center;
    align-items: center;
    font-size: 40;
}

.time{
    background-color: #3399ff;
    display: none;
    margin-top: 100px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-size: 100;
}

.header-div
{
    background-color:#3399ff;
}